/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

body {
    font-family: "Helvetica", Sans-Serif;
    background: #424d57;
    
  }
header {
    display: flex;
    justify-content: flex-end;
}

